@import url(https://fonts.googleapis.com/css?family=Crimson+Text);

/*Global Styles*/
p, h1, h2, h3, h4, a{
 	font-family: 'Crimson Text', sans-serif;
}

/*Target audience is 55+*/
h1, h2, h3, h4{
 	font-size: 45px;
}

p, a{
  font-size: 35px;
}

h5, h6{
	font-family: 'Crimson Text', sans-serif;
  	font-size: 70px;
}

#containerdiv{
	background: url(img/child1.jpg) no-repeat center scroll;
	min-height: 90vh;
    background-size: cover;
    -moz-box-shadow: 0px 20px 20px #2c2c2d;
  	-webkit-box-shadow: 0px 20px 20px #2c2c2d;
  	box-shadow: 0px 20px 20px #2c2c2d;
}


/*Info*/
.infodiv{
  width: 50%;
  margin: auto;
  padding-top: 30vh;
}

/*This is a media query. It is setup so when the screen width is smaller than
992px wide it will start using the styles within it.*/
@media only screen and (max-width : 992px) {

  .infodiv{
    padding-top: 30vh;
    width: 90%
  }

  a, p{
    font-size: 25px;
  }

}

@media only screen and (max-width : 1400px) {

  .infodiv{
    padding-top: 20vh;
  }

}
.infodiv-img{
  background-image: url(img/GrammyLogoWhite.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 225px;
  width: 300px;
  margin: auto;
}

.infodiv .white-text{
  text-align: center;
  padding-bottom: 50px;
}

.info h6{
  color: #fff;
  margin: 60px 0px;
}

.info img{
  width: 60%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 0px 40px #000;
}

.events iframe ._2p3a{
  width: 50% !important;
  margin: auto;
}

.fb-btn{
	background-image: url(img/facebookbtn.png);
	background-repeat: no-repeat;
}
.footerdiv{
	background: url(img/FooterPic.jpg) no-repeat center	scroll;
	min-height: 100vh;
	background-size: cover;
}
.white-text{
	color: white;
}

.blue-text{
	color: #337ab7;
}

.margin-break{
	margin-top: 150px;
	margin-bottom: 50px;
}

.padding-break{
	padding-top: 200px;
}

.p-break{
	margin-top: 100px;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 20%;
}

.p-break-half{
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
}

hr.break{
	margin-top: 20px;
    margin-bottom: 60px;
    border-top: 1px solid #000;
}

hr.bottom-break{
	margin: 20px 20% 20px 20%;
    border-top: 1px solid #fff;
}

.top-button-break{
	padding-top: 50px;
}

.button-break{
	margin-top: 150px;
	margin-bottom: 100px;
}

.gray-bg{
	background-color: #242424;
}

.sol-bor{
	border: 1px solid black;
}

.fb-resize{
	max-height: 100%;
	max-width: 100%;
}

.fb-mobile{
  display: none;
  height: 0%;
}

.fa-facebook-official{
  color: #3b5998;
}

@media only screen and (max-width : 992px) {
  .fb-resize{
    display: none;
  }

  .fb-mobile{
    display: block;
    height: 100%;
  }
}

ul{
	list-style: none;
	font-size: 2em;
}

/*Contact*/
.add-resources a{
  display: block;
  color: #fff;
  padding: 10px 0px;
}

.add-resources a:hover{
  color: #000;
  text-decoration: none;
  background-color: #fff;
  border-radius: 5px;
}
